apiVersion: v1
kind: Service
metadata:
  name: {{ include "cnpg-plugin-wal-g.fullname" . }}
  labels:
    {{- include "cnpg-plugin-wal-g.labels" . | nindent 4 }}
    cnpg.io/pluginName: cnpg-extensions.yandex.cloud
  annotations:
    cnpg.io/pluginPort: {{ .Values.service.port | quote }}
    {{- if .Values.cnpg.tls.certManager.createServerCert }}
    cnpg.io/pluginServerSecret: {{ include "cnpg-plugin-wal-g.fullname" . }}-server-tls
    {{- else }}
    cnpg.io/pluginServerSecret: {{ .Values.cnpg.tls.existingServerCertSecretName }}
    {{- end }}
    {{- if .Values.cnpg.tls.certManager.createClientCert }}
    cnpg.io/pluginClientSecret: {{ include "cnpg-plugin-wal-g.fullname" . }}-client-tls
    {{- else }}
    cnpg.io/pluginClientSecret: {{ .Values.cnpg.tls.existingClientCertSecretName }}
    {{- end }}
spec:
  type: ClusterIP
  ports:
  - port: {{ .Values.service.port }}
    protocol: TCP
    targetPort: {{ .Values.service.port }}
  selector:
    {{- include "cnpg-plugin-wal-g.selectorLabels" . | nindent 4 }}
  sessionAffinity: None
---
apiVersion: v1
kind: Service
metadata:
  labels:
    {{- include "cnpg-plugin-wal-g.labels" . | nindent 4 }}
  name: {{ include "cnpg-plugin-wal-g.fullname" . }}-webhook-service
spec:
  type: ClusterIP
  ports:
    - port: 443
      protocol: TCP
      targetPort: 9443
  selector:
    {{- include "cnpg-plugin-wal-g.selectorLabels" . | nindent 4 }}
  sessionAffinity: None
